<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet"type="text/CSS" href="websiteStyle.css" />
    <link rel="stylesheet" href="LoginNormalize.css">
    <link rel="stylesheet" href="LoginStyle.css">
    <title>Login page</title>
</head>

<body>

<div id="sidebar">

    <ul>
        <li><a href="Login.scala.html">Account security</a></li>
        <li><a href="news.asp">Personal details</a></li>
        <li><a href="contact.asp">Edit Personal details</a></li>
    </ul>
</div>

<div id="content">
    <textSetting style="opacity: 1;">
    </textSetting>
    <section class="loginform cf">
        <form name="login" action="index_submit" method="get" accept-charset="utf-8">
            <ul>
                <li>
                    <label for="usermail">Email</label>
                    <input type="email" name="usermail" placeholder="yourname@email.com" required>
                </li>
                <li>
                    <label for="password">Password</label>
                    <input type="password" name="password" placeholder="password" required></li>
                <li>
                    <input type="submit" value="Login">
                </li>
            </ul>
        </form>
    </section>
    </html>
</div>
<div id="footer">
    <a href= "https://www.facebook.com"><img src="img/iconfb.png" alt="Facebook" WIDTH="40px" HEIGHT="40px" style=" padding-bottom: 10px; padding-right: 40px;"/></a>
    <a href= "Home.html"><img src="img/NBGardens.png" alt="NB Gardens Logo" WIDTH="auto" HEIGHT="70px" style=" padding-top: 15px;"/></a>
    <a href= "https://twitter.com/"><img src="img/icontw.png" alt="Twitter" WIDTH="40px" HEIGHT="40px" style=" padding-bottom: 10px; padding-left: 40px;"/></a>
    <br>
</div>

</body>
</html>